/* All p elements that are direct descendants of a div are given green text */
.main{
    background-color: blue;
    display: block;
    width: 200px;
    height: 200px;
    position: relative;
}

.color{
    background-color: red;
}

.horizontal{
    height: 20px;
    width: 100%;
    
    position: relative;
    top: 35px;
    left: 0;
}

.vertical{
    height: 100%;
    width: 20px;

    position: absolute;
    top: 0;
    left: 35px;
 
}